__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
venv/
ENV/
build/
dist/
*.egg-info/
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.swp
*.swo
*.tmp
*.orig
*.~
*.cache
*.coverage
*.mypy_cache/
*.pytest_cache/
*.pkl
*.sqlite
*.db-journal
*.ipynb_checkpoints/
